// 测试部分样式
@dev_color: lightpink;
@fill_color: yellowgreen;
.pos-module {
    .solid_line;
    background-color: @fill_color;
}

#infoModal .container-fruid {
    // .pos-module;
}

// 全局字体
@font-face {
    font-family: 'FontAwesome';
    src: local('FontAwesome'), url('//cdn.bootcss.com/font-awesome/4.5.0/fonts/fontawesome-webfont.svg') format('svg');
    src: local('FontAwesome'), url('//cdn.bootcss.com/font-awesome/4.5.0/fonts/fontawesome-webfont.ttf') format('TrueType');
}

body {
    font-family: 'FontAwesome', 'Helvetica Neue', Helvetica, Tahoma, Arial, STXihei, 'Microsoft YaHei', '微软雅黑', sans-serif;
    background-color: transparent;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
}


/* ------------------公共变量 -----------------*/

// 
// 
@subling_margin: 10px;
.solid_line {
    border: 2px solid #000;
}

// 基本配色
@color_blue: lighten(#337ab7, 10%); //#4f93ce
@color_green: lighten(#5cb85c, 5%); //#6ec06e
@color_yellow: #f0ad4e; //#f0ad4e
@color_purple: lighten(#663399, 20%); //#9966cc
@color_red: #d9534f; //#d9534f
@gradual: 20%;
.font-inverse(@font_color: #fff) {
    color: @font_color;
}

.panel-blue {
    border-color: @color_blue;
}

.panel-blue> .panel-heading {
    .panel-blue;
    .font-inverse;
    background-color: @color_blue;
}

.panel-blue> a {
    color: @color_blue;
}

.panel-blue > a:hover {
    color: darken(@color_blue, @gradual);
}

.panel-green {
    border-color: @color_green;
}

.panel-green> .panel-heading {
    .panel-green;
    .font-inverse;
    background-color: @color_green;
}

.panel-green> a {
    color: @color_green;
}

.panel-green> a:hover {
    color: darken(@color_green, @gradual);
}

.panel-yellow {
    border-color: @color_yellow;
}

.panel-yellow> .panel-heading {
    .panel-yellow;
    .font-inverse;
    background-color: @color_yellow;
}

.panel-yellow> a {
    color: @color_yellow;
}

.panel-yellow> a:hover {
    color: darken(@color_yellow, @gradual);
}

.panel-purple {
    border-color: @color_purple;
}

.panel-purple> .panel-heading {
    .panel-purple;
    .font-inverse;
    background-color: @color_purple;
}

.panel-purple> a {
    color: @color_purple;
}

.panel-purple> a:hover {
    color: darken(@color_purple, @gradual);
}

.panel-red {
    border-color: @color_red;
}

.panel-red> .panel-heading {
    .panel-red;
    .font-inverse;
    background-color: @color_red;
}

.panel-red> a {
    color: @color_red;
}

.panel-red> a:hover {
    color: darken(@color_purple, @gradual);
}

.panel-title {
    color: inherit;
}

@border_size: 1px;
@border_color: #000;
.solid_line(@border_size, @border_color) {
    margin: (0-@border_size);
    border: @border_size solid @border_color;
}

.ele_shadow(@offset, @radius) {
    box-shadow: @offset @offset @radius #000;
}

//超出文字省略号
.text-autocut{
    overflow: hidden;
    white-space: nowrap;
    -webkit-text-overflow:ellipsis;
    -khtml-text-overflow: ellipsis; 
    -icab-text-overflow: ellipsis; 
    -moz-text-overflow: ellipsis; 
    -o-text-overflow: ellipsis; 
    text-overflow: ellipsis; 
}

//渐变类
.gradient(@origin: top, @startColor, @endColor) {
    background-color: @startColor/2 + @endColor/2;
    filter:~"progid:DXImageTransform.Microsoft.gradient(startColorstr='@{startColor}', endColorstr='@{endColor}')";
    background-image: -webkit-linear-gradient(@origin, @startColor, @endColor);
    background-image: -moz-linear-gradient(@origin, @startColor, @endColor);
    background-image: -o-linear-gradient(@origin, @startColor, @endColor);
    background-image: -ms-linear-gradient(@origin, @startColor, @endColor);
    background-image: linear-gradient(@origin, @startColor, @endColor);
}

@site_color: #D1D3D4;
@radius: 4px;
.mixin_bg(dark, @color) {
    background-color: darklen(@color, 20%);
}

.mixin_bg(light, @color) {
    background-color: lighten(@color, 80%);
}

.jumbotron {
    margin-top: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

#index-front {
    background-image: url(../img/bgc-front.jpg);
}

#index-back {
    background-image: url(../img/bgc-back.jpg);
}

#index-blog {
    background-image: url(../img/bgc-blog.jpg);
}

#index-other {
    background-image: url(../img/bgc-other.jpg);
}

.nav-pills li {
    border-radius: @radius;
    background-color: #fff;
    .ele_shadow(0, 2px);
    .solid_line(1px, #000);
}

.row {
    font-size: 1.143em;
}

.row .col-md-2 {
    .solid_line(1px, #333366);
}

.row .col-md-2 span {
    font-weight: bold;
    color: lighten(@site_color, 10%);
    // text-shadow: 1px 1px 5px @color_blue;
    .text-autocut;
}

.row span:hover {
    cursor: pointer;
    color: lighten(@site_color, 30%);
    text-decoration: underline !important;
}

.load-more {
    .ele_shadow(0, 2px);
}

// ---------------------------------页面布局--------------------------------------
// 
// 
body {
    padding-top: 100px;
    padding-bottom: 20px;
}

// 正文部分样式
// 
@media(min-width: 960px) {
    .col-md-2 {
        padding-top: 60px;
        padding-bottom: 60px;
        // padding: 60px;
    }
    .load-more {
        margin-top: @subling_margin;
    }
}

@media(max-width: 960px) {
    .col-md-2 {
        padding: 30px;
    }
    .load-more {
        margin-top: @subling_margin/2;
    }
}

// 模态框
//
#infoModal .label-info, #infoModal .label-info:hover {
    // display: inline-block !important;
    padding: 5px 5px;
    cursor: default;
    color: #fff;
}

#infoModal .row {
    margin-top: @subling_margin;
}

#infoModal span:hover {
    text-decoration: none !important;
}

span.site-url:hover, span.site-intro:hover {
    cursor: text;
    color: inherit;
}

// 留言显示部分
//
#display .col-lg-9{
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 30px;
}

.msg-text{
    color: @color_blue;
}

#sitelist{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: @subling_margin;
}
